<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
     <ion-list-header>
       Contactos
     </ion-list-header>

     <ion-item *ngFor="let item of customers">
      <ion-avatar slot="start">
        <img src="../../assets/customers-img/{{item.image}}" alt="avatar">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{item.name | titlecase}}</h2>
        <h3>{{item.state}}</h3>
        <p>{{item.description}}</p>
      </ion-label>
     </ion-item>





  </ion-list>
  <div class="container">
    <button class="btn" (click)="goToHome()">Go to Home</button>
  </div>

</ion-content>
