ion-toolbar{
  background-color: var(--ion-color-mycolor)
}


.desc{
  background-color: var(--ion-color-mycolor);
  color: whitesmoke;
  font-size: 18px;
  text-align: justify;
  padding: 5px 12px;
}
