/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.btn{
  margin:10px;
  background-color: var(--ion-color-mycolor);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 12px gray;
  font-size: 20px;

}

.btn-sm{
  margin:10px;
  background-color: var(--ion-color-mycolor);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 12px gray;
}

.container{
   text-align: center;
   position: absolute;
   left: 20px;
   right: 20px;
   top: 90%;
   /* transform: translateY(-90%); */
  }
